<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
           <add name="DBConnection" connectionString="data source=localhost:1433;Initial Catalog=userstore;Integrated Security=True;"
                providerName="System.Data.SqlClient"/>
         </connectionStrings>
</configuration>